.img{
    background-image: url("images/billboard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100vh;
}
a:hover{
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
}
.list-style{
    display: flex;
    padding-right: 50px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #d8cdc5; 
    opacity: 0.6;
    
}
.logo{
    height: 25px;
    

}
img{
    height: 68px;
    padding-left: 100px;

}
.nav2{
    display: flex;
    justify-content: space-between;
    background-color:#d8cdc5 ;
    opacity: 0.6;
    position: absolute;
    top: 94%;
    width: 99%;
}
button:hover{
    background-color: black;
}
button{
    background-color:#50ccff;
    border: none;
    font-weight: bolder;
    color: white;
    height: 30px;
    padding:10px;
    margin: 10px;
    margin-right: 50px;
    
}
.ptag{
    margin-left: 10px;
    font-weight:bolder;
}

#middle-grid,#clients{
background-color: #fbfbfb;
width: 50%;
position: relative;
left: 27%;
}
.heading,.heading1{
    color: #857c7c;
    font-weight: bolder;
    text-align: center;
}
.size{
    width: 67%;
    margin-left: 29px;
}
.grid-container,.grid-container1{
    display: grid;
    grid-column-gap:20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.center,.position{
    text-align: center;
    color: #857c7c;
    font-weight: bolder;
    font-size: large;
}
.center1,.position1{
    text-align: center;
    color: #bab5b5; 
    font-size: small;
}
/* .flex-container{
    display: flex;
}
.img1{
    height :30%;
} */
.resize{
    height: 400px;  
}
.radius{
    padding-left: 10px;
   margin-left: 87px;
    border-radius: 50%;
}
.s1{
    font-size: small;
    font-weight: lighter;
}
.brand-container{
    display: flex;
    justify-content: center;
    background-color: #f2f1f1cb;
    height: 56px;
    margin-top: 30px;
}
.citem{
    padding-top: 20px;
}
.img-size{
    height: 30px;
}
#footer{
    background-color: #353535;
}
.center-div{
    display: flex;
    justify-content: center;
   
}
.justify{
    display: flex;
    justify-content: center;
}
.nav3{
    background-color: #434343;
    width: 47%;
    display: flex;
    justify-content: center;
    
}
.ptag1{
    color: white;
}
.btn{
    width: 100%;
    margin-left: 20px;
}
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    padding-right: 17%;
    padding-left: 19%;
    margin-top: 49px;
}
.gitem{
    margin-left: 50px;
}
.color{
    color:white;
    font-weight: bolder;
    font-size: medium;
    margin-left: 45px;
}
.hd{
    color:white;
    font-weight: bolder;
    font-size: medium;
}
.color2{
    color: white;
    font-size: smaller;
}
.color1{
    color:white ;
    font-size:smaller;
    list-style: none;
    margin-right: 10px;
    font-weight: lighter;
    
}
.social{
    height: 20px;
    position: relative;
    right: 106px;
}
.para{
    text-align: center;
    font-size:10px;
    color: white;
    padding-top: 72px;
    padding-bottom: 10px;
}
@media only screen and (max-width:600px){
    .img{
        background-size:cover
        /* width:100%;
        height: 100vh; */
    }
    .nav{
        width: 343px;
        height: 77px;
    }
    img{
        height: 62px;
        padding-left: 6px;
    }
    li{
        font-size: 13px;  
    }
    .nav2{
        width: 95%;
        height: 53px;
    }
    button{
        width: 109px;
        margin: 5px;
        height: 42px;
        margin-right: 6px;
    }
    #middle-grid{
        width: 100%;
        left: 0%;
    }
    .resize{
        height: 105px;
    }
    #clients{
        width: 100%;
        left: 0%;
    }
    .grid-container1{
        grid-template-columns: auto;
    }
    .img-size{
        height: 18px;
    }
    .ptag1{
        font-size: 10px;
        padding-left: 5px;
    }
    .nav3{
        width: 89%;
    }
    .btn{
        font-size: 10px;
        margin-left: 0%;
        height: 33px;
    }
    .color,.hd{
        font-size: 9px;

    }
    .ul1,.color2{
        font-size: 7px;
    }
    .social{
        height: 13px;
        right: 7px;
    }
    .gitem{
        margin-left: 0px;
    }

}



